/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
  font-family: 'Lato', sans-serif;
  font-size: small;
  text-align: left;
}
h1 {
  font-size: 60px;
}
.navbar {
	padding: 0px 0px;
	background-color: rgb(250, 250, 250);
	background-color: rgba(250, 250, 250, 0.5);
	height: 50px;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-brand {
	text-transform: uppercase;
	font-size: 27px;
	letter-spacing: 2px;
	/*padding-left: 25px;*/
}

.navbar-default .navbar-brand #first {
	color:#f7a39b;
}

.navbar-default .navbar-brand #last {
	/*color:#c3f6da;*/
	color: rgb(127, 127, 127);
}

.navbar-default .navbar-nav {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	color: rgb(127, 127, 127);
	margin-right: -30px !important;
}

.navbar-default .navbar-nav:hover {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	color: rgb(50, 50, 50);
}

.navbar-default .navbar-toggle:focus {
	outline: none;
}

.navbar-default .navbar-nav li {
	text-align: right;
}

.navbar-default .navbar-toggle {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
body { 
	overflow-x: hidden;
        font-family: 'Lato', sans-serif; 
        font-weight: 100; 
        font-size: 16px; 
       
}      
img.bg {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px){
img.bg {
    left: 50%;
    margin-left: -512px; }
}

#intro{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color:rgb(255,255,255);
    width:60%;
}

#me {
    height:auto;
    width:30%;
    margin: 20px;
}
.pic{
}
#introtext{
    width:60%;
    display:inline-block;
    vertical-align:middle;
    margin-right:auto;
    margin-left:auto;
}
#blurb {
    text-align:left;
    /*background-color:rgb(195,246,218);*/
    /*background-color:rgba(195,246,218, 0.5);*/
    /*background-color:rgb(255,255,255);*/
    /*background-color:rgba(255,255,255, 0.5);*/
    padding: 5px;
    margin-top:0px;
    width:80%;
    height:auto;
    margin-right:auto;
    margin-left:auto;
}
#quote{
    font-family: 'Cookie', cursive;
    color: rgb(195,246,218);
    text-align:center;
}
#about {
    margin-top: 50px;
    text-align:left;
}
#blueprint{
    display:inline-block;
    font-size: 16px;
    background-color:rgb(195,246,218);
    /*background-color:rgba(195,246,218, 0.5);*/
    margin: 0% 2% 0% 5%;
    width: 55%;
    padding: 5px;
}
#bptitle{
    letter-spacing:-11px;
    padding-left:5px;
    font-family: 'Comfortaa', cursive;
    font-size:167px;
    margin-top:-40px;
    text-align:center;
    color:rgb(82,185,233);
    opacity:.3;
}
#bptext{
    margin-top:-211px;
    text-align:justify;
}
#axo{
    display:inline-block;
    margin: 0% 5% 0% 0%;
    background-color:rgb(247,163,155);
    /*background-color:rgba(247,163,155, 0.5);*/
    width:30%;
}



a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #00a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

#footer {
   	/*background-color: rgb(250, 250, 250);*/
	/*background-color: rgba(250, 250, 250, 0.5);*/
	text-align:right;
	/*padding:10px;*/
	 
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
